.next-card {
  border-radius: 20px;
  padding: 15px;
  border: solid;
  min-height: 230px;
  vertical-align: middle;
  margin-bottom: 15px;
}

.next-card.rehearsal {
  background-color: antiquewhite;
  border-color: chocolate;
}

.next-card.concert {
  background-color: lightblue;
  border-color: darkslategray;
}

.next-card-content {
  vertical-align: middle;
}
